body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.chat-icon {
    position: fixed;
    bottom: 150px;
    right: 20px;
    background-color: red;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

.chat-symbol {
    font-size: 28px;
}

#chatWindow {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
}

.chat-window-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.chat-header {
    background-color: #2196f3;
    color: white;
    padding: 10px;
    font-size: 16px;
}

.chat-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-message {
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 80%;
    word-break: break-word;
}

.chat-footer {
    display: flex;
    padding: 10px;
}

#chatInput {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

#sendButton {
    padding: 5px
    10px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}